/* 
Header start */

@media (min-width: 0px) and (max-width: 575px) {
  .minibar__phone {
    display: none !important;
  }
}

.minibar {
  border: 1px solid rgb(242, 242, 242);
}

li a {
  font-weight: 600;
}

.main {
  background: url("../../assets/beams-home@95.jpg");
  background-position: -600px 0px;
}

.controller {
  display: none;
}

.mobile__links {
  position: relative;
  left: -10000px;
  transition: 0.7s ease all;
}

@media (min-width: 0px) and (max-width: 575px) {
  .nav__links {
    display: none;
  }
  .controller {
    display: block;
  }

  .main {
    background: url("../../assets/beams-home@95.jpg");
    background-position: -1100px 0px;
  }
}

.mobile__links ul li {
  border-bottom: 1px solid rgb(242, 242, 242);
}

.toggleNav {
  position: relative;
  transition: 0.7s ease all;
  left: 0px;
}
/* Header end */

/*content */

.content .container {
  margin-top: 7%;
}

@media (min-width: 0px) and (max-width: 575px) {
  .content .container {
    margin-top: 15%;
  }

  .title {
    display: block !important;
    text-align: center;
  }
  .title h1 {
    font-size: 25px !important;
    font-weight: 600;
  }
  .title img {
    width: 50px !important;
    margin: auto;
  }
  .search {
    width: 90% !important;
  }
}

.title h1 {
  font-size: 35px;
  font-weight: 600;
}

.search {
  width: 50%;
}

.modal-body a {
  width: 100%;
}
/*end of content */
